body {
    background-color: #DBF2FF; /* color del fondo de la página*/
    text-fond:roboto; /* tipo de letra */
    text-color: #111010; /* color del texto */
}

.logo{
    width: 10px;
    height: 10px;
    margin: 10px;
    
}  



